:root {
  --svg-icon-color: #afb1b8;
  --our-team-bloc-background-color: #f5f4fa;
  --background-image-linear-gradient: rgba(47, 48, 58, 0.4);
  --background-image-linear-gradient-2: rgba(47, 48, 58, 0.4);
  --team-card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --background-image-desktop: url(../images/background/desktop-background.jpg);
  --background-image-desktop-2x: url(../images/background/desktop-background2x.jpg);
  --background-image-tablet: url(../images/background/tablet-background.jpg);
  --background-image-tablet-2x: url(../images/background/tablet-background2x.jpg);
  --background-image-mobile: url(../images/background/mobile-background.jpg);
  --background-image-mobile-2x: url(../images/background/mobile-background2x.jpg);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --modal-close-button: rgba(0, 0, 0, 0.1);
  --photo-thumb-background: rgba(47, 48, 58, 0.8);
  --modal-form-message-border: 1px solid rgba(33, 33, 33, 0.2);
  --name-card: #212121;
  --card-get: 30px;
  --nav-background-color: #ffffff;
  --logo-web-color: #2196f3;
  --logo-studio-header-color: #000000;
  --header-border-bottom-color: #ececec;
  --link-color: #212121;
  --hover-focus-color: #2196f3;
  --contact-menu-itam-color: #757575;
  --background-head-color: #2f303a;
  --background-footer-color: #2f303a;
  --contacts-end-color: rgba(255, 255, 255, 0.6);
  --text-shadow-logo: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --social-list-item-link-background-color: rgba(255, 255, 255, 0.1);
  --all-buttons-color: #f5f4fa;
  --title-box-boarder: 1px solid #eeeeee;
  --background-overlay: rgba(33, 150, 243, 0.9);
  --list-item-hover-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --modal-send-border:1px solid rgba(255, 255, 255, 0.3);
  --modal-send-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  --btn-send-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
  --header-burger-btn: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: Roboto;
  margin: 0px;
}

@media screen and (min-width: 480px) {
  .sections {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .sections {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1 !important;
  width: 1 !important;
  overflow: hidden;
}

.model-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  font-family: inherit;
  color: var(--nav-background-color);
  background-color: var(--hover-focus-color);
  border: none;
  cursor: pointer;
}

.team__social-list {
  display: flex;
  list-style: none;
}
@media screen and (min-width: 480px) {
  .team__social-list {
    padding-left: 122px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .team__social-list {
    padding-left: 74px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team__social-list {
    padding-left: 32px;
    padding-bottom: 32px;
  }
}
.team__social-list .team__social-item {
  width: 44px;
  height: 44px;
}
.team__social-list .team__social-item .btn-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--nav-background-color);
}
.team__social-list .team__social-item:not(:last-child) {
  margin-right: 10px;
}

.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--hover-focus-color);
  outline: none;
  fill: var(--nav-background-color);
}

.team-card-social-link-icon {
  display: block;
  fill: var(--svg-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover .team-card-social-link-icon, .team__social-link:focus .team-card-social-link-icon {
  fill: var(--nav-background-color);
}

.footer__social-item {
  width: 44px;
  height: 44px;
}
.footer__social-item:not(:last-child) {
  margin-right: 10px;
}
.footer__social-item .footer__social-link:hover, .footer__social-item .footer__social-link:focus {
  background-color: var(--hover-focus-color);
  outline: none;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  widows: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-list-item-link-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social--list {
  display: flex;
  list-style: none;
}
@media screen and (min-width: 480px) {
  .footer__social--list {
    justify-content: center;
  }
}

.footer__social {
  padding: 0;
  margin: 0;
  margin-left: 70px;
}
@media screen and (min-width: 480px) {
  .footer__social {
    margin-left: 0px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
    margin-top: 0;
  }
}

.logo__header {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-web-color);
  text-shadow: var(--text-shadow-logo);
  margin-right: 93px;
}
.logo__header .studio__header {
  color: var(--logo-studio-header-color);
}

.footer__logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--logo-web-color);
  margin-bottom: 20px;
}
.footer__logo .footer__studio {
  color: var(--nav-background-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.hero__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--nav-background-color);
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    line-height: 42px;
  }
}

.specific__tittle {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--name-card);
}
@media screen and (max-width: 767px) {
  .specific__tittle {
    text-align: center;
  }
}

.gallery__tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-weight: 700;
  color: var(--link-color);
  margin-bottom: 50px;
  margin-top: 0px;
}

.team__tittle {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: Roboto;
  width: 700;
  color: var(--link-color);
  margin: 0px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .team__tittle {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;
  }
}

.team__name {
  font-weight: 500;
  line-height: 19px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 10px;
  color: var(--link-color);
}

.team__work {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  color: var(--contact-menu-itam-color);
  margin-bottom: 30px;
}

.customers__tittle {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .customers__tittle {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-background);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--nav-background-color);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--modal-close-button);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.close-btn {
  align-items: center;
  justify-content: center;
  width: 25px;
  display: flex;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover .close-btn, .modal-close-button:focus .close-btn {
  fill: var(--hover-focus-color);
}

.modal-form-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--nav-background-color);
  width: 200px;
  height: 50px;
  border: none;
  background: var(--logo-web-color);
  box-shadow: var(--btn-send-shadow);
  border-radius: 4px;
  margin-top: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px;
}
.modal-form .modal-form-head {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  color: var(--primary-text-color);
  box-sizing: border-box;
  border: var(--modal-form-message-border);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-form-input:focus {
  border-color: var(--hover-focus-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--hover-focus-color);
}

.modal-form-input-wraper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-icon {
  fill: var(--link-color);
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 18px;
  display: block;
  transform: translateY(-50%);
}

.modal-form-field {
  position: relative;
  width: 100%;
  color: var(--contact-menu-itam-color);
}
.modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (max-width: 1199px) {
  .modal-form-field {
    font-size: 12px;
    line-height: 14px;
  }
}

.modal-form-message {
  height: 138px;
  width: 100%;
  border: var(--modal-form-message-border);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  resize: none;
  padding: 12px 16px;
  outline: none;
  margin-top: 4px;
}
.modal-form-message::-moz-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  border-color: var(--hover-focus-color);
}

.modal-form-checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--link-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

@media screen and (max-width: 1199px) {
  .modal-form-checkbox-policy, .modal-form-checkbox-policy {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../images/icon-check.svg);
  border: none;
  background-color: var(--hover-focus-color);
  background-size: contain;
  background-origin: border-box;
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  border-color: #2196f3;
  border-radius: 2px;
}

.modal-form-policy {
  color: var(--hover-focus-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu__nav-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.mobile-menu__nav-link {
  color: var(--name-card);
}
.mobile-menu__nav-item:not(:last-child) {
  padding-bottom: 32px;
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  padding: 0;
}
.mobile-menu__close-btn-icon {
  width: 40px;
  height: 40px;
}
.mobile-menu__close-btn:hover .mobile-menu__close-btn-icon, .mobile-menu__close-btn:focus .mobile-menu__close-btn-icon {
  fill: var(--hover-focus-color);
}
.mobile-menu__container {
  position: relative;
  padding-left: 25px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mobile-menu__contact-list {
  margin-top: 302px;
}
.mobile-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__contact-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--hover-focus-color);
}
.mobile-menu__contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--contact-menu-itam-color);
}
.mobile-menu__social-list {
  display: flex;
  margin-top: 64px;
}
.mobile-menu__social-item:not(:last-child) {
  margin-right: 20px;
}
.mobile-menu__social-link {
  color: var(--hover-focus-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header {
  border-bottom: 1px solid var(--header-border-bottom-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container .navigation {
  background: var(--nav-background-color);
  display: flex;
  align-items: center;
}
.header__burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.header__burger-btn-icon {
  width: 24px;
  height: 16px;
  fill: var(--header-burger-btn);
}

.menu {
  font-family: Roboto;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.menu .menu__item {
  position: relative;
}
.menu .menu__item .menu__link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .menu__item .menu__link:hover, .menu .menu__item .menu__link:focus {
  color: var(--hover-focus-color);
  outline: none;
}
.menu .menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: 45px;
  left: 0;
  border-radius: 2px;
  background: var(--hover-focus-color);
}

.contacts__list {
  list-style: none;
  display: flex;
  margin-left: auto;
}
.contacts__list .contacts__item .contacts__link:hover,
.contacts__list .contacts__item .contacts__link:focus {
  color: var(--hover-focus-color);
  fill: var(--hover-focus-color);
  outline: none;
}
.contacts__list .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--contact-menu-itam-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link .contacts__icon {
  padding: 0px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .menu {
    display: none;
  }

  .contacts__list {
    display: none;
  }

  .contacts__list {
    display: block;
    margin-left: 84px;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contacts__link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }

  .contacts__icon-p {
    width: 10px;
    height: 14px;
  }

  .contacts__icon-m {
    width: 14px;
    height: 10px;
  }

  .header__burger-btn {
    display: none;
  }

  .menu {
    display: flex;
  }

  .contacts__list {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header__burger-btn {
    display: block;
  }

  .menu {
    display: none;
  }

  .contacts__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}
.hero {
  max-width: 767px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--banner-bg-color);
  background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/mobile-background.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/mobile-background2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-size: cover;
    background-image: linear-gradient(var(--background-image-linear-gradient), var(--background-image-linear-gradient-2)), url(../images/background/tablet-background.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/desktop-background.jpg);
  }
}
.hero__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  color: var(--nav-background-color);
  background-color: var(--hover-focus-color);
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .specifics__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  .specifics__item {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .specifics__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .specifics__item {
    width: calc((100% - 2 * 15px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .specifics__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .specifics__list {
    display: flex;
  }
  .specifics__list .specifics__item {
    width: 270px;
  }
  .specifics__list .specifics__item:not(:last-child) {
    margin-right: 30px;
  }
}
.specific__thumb {
  height: 120px;
  display: flex;
  background: var(--our-team-bloc-background-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.specific__thumb .specific-thumb-item {
  width: 70px;
  height: 70px;
}

.specific__description {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--contact-menu-itam-color);
}

@media screen and (max-width: 1199px) {
  .gallery {
    display: none;
  }
}
.gallery {
  margin: 0px;
  padding: 0px;
  padding-bottom: 94px;
}

.gallery__list {
  list-style: none;
  display: flex;
}
.gallery__list .gallery__item {
  position: relative;
}
.gallery__list .gallery__item:not(:last-child) {
  margin-right: 30px;
}
.gallery__list .gallery__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  background: var(--photo-thumb-background);
}
.gallery__list .gallery__thumb .gallery__overlay {
  margin: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--nav-background-color);
}

.team__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}
@media screen and (min-width: 480px) {
  .team__list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

.team__card {
  background: var(--nav-background-color);
  box-shadow: var(--team-card-box-shadow);
  border-radius: 0px 0px 4px 4px;
  margin: 0px;
}
@media screen and (min-width: 480px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    margin-right: 30px;
  }
  .team__card:nth-last-child(2n+1) {
    margin-right: 0px;
  }
  .team__card:nth-child(n+3) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: 270px;
  }
  .team__card:nth-child(n) {
    margin-bottom: 0px;
  }
  .team__card:not(:last-child) {
    margin-right: 30px;
  }
}

.team {
  background: var(--our-team-bloc-background-color);
}

img {
  width: 100%;
}

.team__thumb {
  padding-top: 30px;
}

@media screen and (min-width: 480px) {
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .customers__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    width: 210px;
    height: 92px;
  }
  .customers__item svg {
    width: 106px;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
    height: 92px;
  }
  .customers__item:nth-child(1n+1) {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .customers__item:nth-child(3n+3) {
    margin-right: 0px;
  }
  .customers__item:nth-child(1n+4) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
    height: 92px;
  }
  .customers__item svg {
    width: 106px;
    height: 60px;
  }
  .customers__item:nth-child(n) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .customers__item:last-child {
    margin-right: 0px;
  }
}
.customers__list {
  list-style: none;
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link {
  border: 1px solid var(--svg-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--hover-focus-color);
  color: var(--hover-focus-color);
  outline: none;
}

.regular-customers-icon {
  width: 106px;
  height: 60px;
  fill: var(--svg-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .regular-customers-icon, .customers__link:focus .regular-customers-icon {
  color: var(--hover-focus-color);
  fill: var(--hover-focus-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-footer-color);
}

.footer__container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .footer__container {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: center;
    text-align: inherit;
    flex-wrap: inherit;
  }
}
.footer__container .footer__invite {
  font-family: Roboto;
  font-weight: 700;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-background-color);
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer__container .footer__invite {
    margin-bottom: 20px;
  }
}

.footer__address {
  margin-top: 20px;
}
.footer__address .footer__coordinate-thumb {
  align-items: center;
  margin-right: 70px;
}
.footer__address .footer__list {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--nav-background-color);
  margin: 0px;
  padding: 0px;
}
.footer__address .footer__list .footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--nav-background-color);
  text-decoration: none;
}
.footer__address .footer__list .footer__contacts {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--contacts-end-color);
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .footer__send {
    margin-top: 60px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .footer__send {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__send {
    margin-top: 0px;
    margin-left: 93px;
  }
}

.footer__form {
  display: flex;
}
@media screen and (min-width: 480px) {
  .footer__form {
    display: block;
  }
}
.footer__form .footer__input {
  display: block;
  width: 358px;
  height: 50px;
  background-color: var(--background-footer-color);
  border: var(--modal-send-border);
  box-sizing: border-box;
  filter: var(--modal-send-filter);
  border-radius: 4px;
  padding: 16px;
  color: var(--nav-background-color);
  outline: none;
}
@media screen and (min-width: 480px) {
  .footer__form .footer__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer__form .footer__input {
    width: 450px;
    margin-left: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form .footer__input {
    width: 358px;
    margin-left: 0;
  }
}
.footer__form .footer__btn-send {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 10px;
  color: var(--nav-background-color);
  padding-right: 29px;
  width: 200px;
  height: 50px;
  background: var(--hover-focus-color);
  box-shadow: var(--btn-send-shadow);
  border-radius: 4px;
  border: none;
}
@media screen and (min-width: 480px) {
  .footer__form .footer__btn-send {
    margin-top: 20px;
  }
}
.footer__form .footer__btn-send .send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  position: absolute;
}

@media screen and (min-width: 1200px) {
  .footer__label {
    display: inline-block;
  }
}

.filter__list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  transition: transform 250ms linear;
}
@media screen and (min-width: 1200px) {
  .filter__list {
    margin-top: 47px;
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 1199px) {
  .filter__list {
    margin: 0px 78px 14px 79px;
    height: 54px;
  }
}
@media screen and (max-width: 767px) {
  .filter__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 40px;
    height: 91px;
  }
  .filter__list .filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.filter__list .filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__list .filter__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--all-buttons-color);
  border-radius: 4px;
  color: var(--link-color);
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__list .filter__button:hover, .filter__list .filter__button:focus {
  color: var(--nav-background-color);
  background: var(--logo-web-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.card__list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-get));
  margin-left: calc(-1 * var(--card-get));
}
.card__list .card__item {
  flex-basis: calc(100% / 3 - var(--card-get));
  margin-top: var(--card-get);
  margin-left: var(--card-get);
  transition: transform 250ms linear;
}
.card__list .card__item:hover {
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (max-width: 767px) {
  .card__list {
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .card__link {
    max-width: 354px;
  }
}
.card__link {
  width: 370px;
  margin: 0px;
  padding: 0px;
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link .card__thumb {
  position: relative;
  overflow: hidden;
}
.card__link:hover .card__overlay, .card__link:focus .card__overlay {
  transform: translateY(0%);
}
.card__link:hover, .card__link:focus {
  box-shadow: var(--list-item-hover-box-shadow);
  outline: none;
}

.card__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--nav-background-color);
  padding: 63px 24px;
  background: var(--background-overlay);
  transform: translateY(100%);
  margin: 0;
  transition: transform 250ms linear;
}

.card__title-box {
  padding: 20px 24px;
  background: var(--nav-background-color);
  border-right: var(--title-box-boarder);
  border-left: var(--title-box-boarder);
  border-bottom: var(--title-box-boarder);
}
.card__title-box .card__name {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--link-color);
}
.card__title-box .card__name-filter {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--contact-menu-itam-color);
}/*# sourceMappingURL=main.css.map */