.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--nav-background-color);

  @media screen and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--modal-close-button);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
