:root {
    --svg-icon-color: #afb1b8;
    --our-team-bloc-background-color: #f5f4fa;
    --background-image-linear-gradient: rgba(47, 48, 58, 0.4);
    --background-image-linear-gradient-2: rgba(47, 48, 58, 0.4);
    --team-card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --background-image-desktop: url(../images/background/desktop-background.jpg);
    --background-image-desktop-2x: url(../images/background/desktop-background2x.jpg);
    --background-image-tablet: url(../images/background/tablet-background.jpg);
    --background-image-tablet-2x: url(../images/background/tablet-background2x.jpg);
    --background-image-mobile: url(../images/background/mobile-background.jpg);
    --background-image-mobile-2x: url(../images/background/mobile-background2x.jpg);
    --backdrop-background: rgba(0, 0, 0, 0.2);
    --modal-close-button: rgba(0, 0, 0, 0.1);
    --photo-thumb-background: rgba(47, 48, 58, 0.8);
    --modal-form-message-border: 1px solid rgba(33, 33, 33, 0.2);
    --name-card: #212121;
    --card-get: 30px;
    --nav-background-color: #ffffff;
    --logo-web-color: #2196f3;
    --logo-studio-header-color: #000000;
    --header-border-bottom-color: #ececec;
    --link-color: #212121;
    --hover-focus-color: #2196f3;
    --contact-menu-itam-color: #757575;
    --background-head-color: #2f303a;
    --background-footer-color: #2f303a;
    --contacts-end-color: rgba(255, 255, 255, 0.6);
    --text-shadow-logo: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --social-list-item-link-background-color: rgba(255, 255, 255, 0.1);
    --all-buttons-color: #f5f4fa;
    --title-box-boarder: 1px solid #eeeeee;
    --background-overlay: rgba(33, 150, 243, 0.9);
    --list-item-hover-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --modal-send-border:1px solid rgba(255, 255, 255, 0.3);
    --modal-send-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    --btn-send-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
    --header-burger-btn: #000000;
  
  }
  